/*!
 * Start Bootstrap - Shop Item HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 50px 0;
}
/** /Tabs **/
/* *********  timeline  **************************** */
ul.timeline li {
  position: relative;
  border-bottom: 1px solid #e8e8e8;
  clear: both; }

.timeline .block {
  margin: 0;
  border-left: 3px solid #e8e8e8;
  overflow: visible;
  padding: 10px 15px;
  margin-left: 105px; }

.timeline.widget {
  min-width: 0;
  max-width: inherit; }

.timeline.widget .block {
  margin-left: 5px; }

.timeline .tags {
  position: absolute;
  top: 5px;
  left: 0;
  width: 95px; }

.timeline .tag {
  display: block;
  height: 30px;
  font-size: 13px;
  padding: 8px; }

.timeline .tag span {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis; }

.tag {
  line-height: 1;
  background: #1ABB9C;
  color: #fff !important; }

.tag:after {
  content: " ";
  height: 30px;
  width: 0;
  position: absolute;
  left: 100%;
  top: 0;
  margin: 0;
  pointer-events: none;
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  border-left: 11px solid #1ABB9C; }

.timeline h2.title {
  position: relative;
  font-size: 16px;
  margin: 0; }

.timeline h2.title:before {
  content: "";
  position: absolute;
  left: -23px;
  top: 3px;
  display: block;
  width: 14px;
  height: 14px;
  border: 3px solid #d2d3d2;
  border-radius: 14px;
  background: #f9f9f9; }

.timeline .byline {
  padding: .25em 0; }